html, body {
    height: 100%;
  }
body {
    background-color: rgb(0, 9, 43);
}

  .main {
    height: 100%;
    width: 100%;
    display: table;
  }

  .wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
  }

  a, :hover, :active, :visited {
    text-decoration: none;
    color: #fff;
  }

  img#mainImage {
    display: block;
    margin: 0 auto;
  }

  video#locationHeader {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
  #game {
    max-width: 800px;
    max-height: 1600px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding-bottom: 2px;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
    text-align: center;
  }

  #controls button {
    background-color: rgb(0, 9, 43);
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }

  #controls button:hover {
    background-color: rgb(28, 49, 117);
  }
  
  #stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  #health-bar {
    position: relative;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 100%;
    margin: 10px 0;
    background-color: gray;
  }
  
  #health-bar-fill {
    height: 100%;
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: width 0.2s;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
    font-weight: bold;
  }

  .stat span {
    font-weight: normal;
  }

  .fab {
    font-size: 60px;
    color: white;
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease-in-out;
    padding-left: 10px;
    animation: none;
  }
  
  .fab:hover {
    transform: scale(1.2);
  }

  .toolbar {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.963);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
  }
  
  .toolbar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    text-align: center;
  }

  .toolbar-content p {
    font-size: 30px;
  }
  
  .close-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 15px;
    background-color: transparent;
    color: #fff;
    height: 100px;
  }
  
  .footer a {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    animation: none;
  }
  
  



  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }